<!DOCTYPE html>
<html>
<head>
  <title>Trivia Quiz</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>Quiz for <%= username %></h1>
  <form action="/save" method="POST">
    <% questions.forEach((question, index) => { %>
      <div class="container">
        <h3>Question <%= index + 1 %>: <%- question.question %></h3>

        <% 
          const options = [...question.incorrect_answers, question.correct_answer].sort(() => Math.random() - 0.5);
        %>
        <% options.forEach(option => { %>
          <label>
            <input class="quiz-options" type="radio" name="question<%= index %>" value="<%= option %>" required>
            <%= option %>
          </label>
        <% }) %>
        <input type="hidden" name="correctAnswer<%= index %>" value="<%= question.correct_answer %>">
      </div>
    <% }) %>
    <input type="hidden" name="username" value="<%= username %>">
    <input type="hidden" name="date" value="<%= new Date().toISOString() %>"> <br>
    <button type="submit">Submit Quiz</button>
  </form>
  <br>
  <button><a href="/">Home</a></button>
</body>
</html>
